<a href="https://colab.research.google.com/github/itchyfeet-patient/Beautiful-Exploration/blob/master/Exploration_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **13-9. í”„ë¡œì íŠ¸ - Movielens ì˜í™” ì¶”ì²œ ì‹¤ìŠµ** ğŸ¥

ì´ì „ ìŠ¤í…ì—ì„œ ë°°ìš´ MF ëª¨ë¸ í•™ìŠµ ë°©ë²•ì„ í† ëŒ€ë¡œ, ë‚´ê°€ ì¢‹ì•„í•  ë§Œí•œ ì˜í™” ì¶”ì²œ ì‹œìŠ¤í…œì„ ì œì‘í•´ ë³´ê² ìŠµë‹ˆë‹¤.

ì´ë²ˆì— í™œìš©í•  ë°ì´í„°ì…‹ì€ ì¶”ì²œ ì‹œìŠ¤í…œì˜ MNISTë¼ê³  ë¶€ë¥¼ë§Œí•œ Movielens ë°ì´í„°ì…ë‹ˆë‹¤.

* ìœ ì €ê°€ ì˜í™”ì— ëŒ€í•´ í‰ì ì„ ë§¤ê¸´ ë°ì´í„°ê°€ ë°ì´í„° í¬ê¸° ë³„ë¡œ ìˆìŠµë‹ˆë‹¤. MovieLens 1M Dataset ì‚¬ìš©ì„ ê¶Œì¥í•©ë‹ˆë‹¤.
* ë³„ì  ë°ì´í„°ëŠ” ëŒ€í‘œì ì¸ explicit ë°ì´í„°ì…ë‹ˆë‹¤. í•˜ì§€ë§Œ implicit ë°ì´í„°ë¡œ ê°„ì£¼í•˜ê³  í…ŒìŠ¤íŠ¸í•´ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
* ë³„ì ì„ ì‹œì²­íšŸìˆ˜ë¡œ í•´ì„í•´ì„œ ìƒê°í•˜ê² ìŠµë‹ˆë‹¤.
* ë˜í•œ ìœ ì €ê°€ 3ì  ë¯¸ë§Œìœ¼ë¡œ ì¤€ ë°ì´í„°ëŠ” ì„ í˜¸í•˜ì§€ ì•ŠëŠ”ë‹¤ê³  ê°€ì •í•˜ê³  ì œì™¸í•˜ê² ìŠµë‹ˆë‹¤.  

Cloud Storageì— ë¯¸ë¦¬ ì—…ë¡œë“œëœ ml-1mí´ë” ë‚´ íŒŒì¼ì„ ì‹¬ë³¼ë¦­ ë§í¬ë¡œ ê°œì¸ storageì— ì—°ê²°í•´ ì¤ë‹ˆë‹¤.

Cloud shellì—ì„œ ì•„ë˜ ëª…ë ¹ì–´ë¥¼ ì…ë ¥í•´ ì£¼ì„¸ìš”.
```
$ mkdir -p ~/aiffel/recommendata_iu/data/ml-1m
$ ln -s ~/data/ml-1m/* ~/aiffel/recommendata_iu/data/ml-1m
```
í”„ë¡œì íŠ¸ì— í•„ìš”í•œ ì£¼ìš” ë¼ì´ë¸ŒëŸ¬ë¦¬ ë²„ì „ì„ í™•ì¸í•´ë´…ì‹œë‹¤.

In [ ]:
!pip install 'scipy'=='1.7.1' --force-reinstall

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scipy==1.7.1
  Using cached scipy-1.7.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5 MB)
Collecting numpy<1.23.0,>=1.16.5
  Using cached numpy-1.21.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
Installing collected packages: numpy, scipy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.6
    Uninstalling numpy-1.21.6:
      Successfully uninstalled numpy-1.21.6
  Attempting uninstall: scipy
    Found existing installation: scipy 1.7.3
    Uninstalling scipy-1.7.3:
      Successfully uninstalled scipy-1.7.3
Successfully installed numpy-1.21.6 scipy-1.7.1

In [ ]:
pip install --upgrade pip setuptools wheel

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (21.1.3)
Collecting pip
  Using cached pip-22.2.2-py3-none-any.whl (2.0 MB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (57.4.0)
Collecting setuptools
  Using cached setuptools-65.3.0-py3-none-any.whl (1.2 MB)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (0.37.1)
Installing collected packages: setuptools, pip
  Attempting uninstall: setuptools
    Found existing installation: setuptools 57.4.0
    Uninstalling setuptools-57.4.0:
      Successfully uninstalled setuptools-57.4.0
  Attempting uninstall: pip
    Found existing installation: pip 21.1.3
    Uninstalling pip-21.1.3:
      Successfully uninstalled pip-21.1.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython 7.9.0 requires jedi>=0.10, which is not installed.
Successfully installed pip-22.2.2 setuptools-65.3.0

In [ ]:
!pip install 'implicit'=='0.4.8' --force-reinstall

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting implicit==0.4.8
  Using cached implicit-0.4.8.tar.gz (1.1 MB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Collecting numpy
  Using cached numpy-1.21.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
Collecting scipy>=0.16
  Using cached scipy-1.7.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38.1 MB)
Collecting tqdm>=4.27
  Downloading tqdm-4.64.0-py2.py3-none-any.whl (78 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 78.4/78.4 kB 3.8 MB/s eta 0:00:00
Building wheels for collected packages: implicit
  Building wheel for implicit (pyproject.toml) ... done
  Created wheel for implicit: filename=implicit-0.4.8-cp37-cp37m-linux_x86_64.whl size=4620669 sha256=bd327e878b95495601b7e5cef93305a9a3cc7a47f3974c39c523eb26bfe62aba
  Stored in directory: /root/.cache/pip/wheels/88/e6/34/25e73cccbaf1a961154bb562a5f86123b68fdbf40e306073d6
Successfully built implicit
Installing collected packages: tqdm, numpy, scipy, implicit
  Attempting uninstall: tqdm
    Found existing installation: tqdm 4.64.0
    Uninstalling tqdm-4.64.0:
      Successfully uninstalled tqdm-4.64.0
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.6
    Uninstalling numpy-1.21.6:
      Successfully uninstalled numpy-1.21.6
  Attempting uninstall: scipy
    Found existing installation: scipy 1.7.1
    Uninstalling scipy-1.7.1:
      Successfully uninstalled scipy-1.7.1
Successfully installed implicit-0.4.8 numpy-1.21.6 scipy-1.7.3 tqdm-4.64.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
import numpy as np
import scipy
import implicit
import pandas as pd

print(np.__version__)
print(scipy.__version__)
print(implicit.__version__)

# lms ë²„ì „
# 1.21.4
# 1.7.1
# 0.4.8

1.21.6
1.7.3
0.4.8

## **1) ë°ì´í„° ì¤€ë¹„ì™€ ì „ì²˜ë¦¬**
Movielens ë°ì´í„°ëŠ” rating.dat ì•ˆì— ì´ë¯¸ ì¸ë±ì‹±ê¹Œì§€ ì™„ë£Œëœ ì‚¬ìš©ì-ì˜í™”-í‰ì  ë°ì´í„°ê°€ ê¹”ë”í•˜ê²Œ ì •ë¦¬ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

In [ ]:
import os
rating_file_path= '/content/drive/MyDrive/dataset/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

ìœ ì €ê°€ 3ì  ë¯¸ë§Œìœ¼ë¡œ ì¤€ ë°ì´í„°ëŠ” ì„ í˜¸í•˜ì§€ ì•ŠëŠ”ë‹¤ê³  ê°€ì •í–ˆìœ¼ë¯€ë¡œ 3ì  ì´ìƒì˜ ë°ì´í„°ë§Œ ë‚¨ê²¨ì¤ë‹ˆë‹¤.

In [ ]:
# 3ì  ì´ìƒë§Œ ë‚¨ê¹ë‹ˆë‹¤.
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [ ]:
# ratings ì»¬ëŸ¼ì˜ ì´ë¦„ì„ countsë¡œ ë°”ê¿‰ë‹ˆë‹¤.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [ ]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [ ]:
# ì˜í™” ì œëª©ì„ ë³´ê¸° ìœ„í•´ ë©”íƒ€ ë°ì´í„°ë¥¼ ì½ì–´ì˜µë‹ˆë‹¤.
movie_file_path= '/content/drive/MyDrive/dataset/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

movie_idê°€ ì–´ë–¤ ì˜í™”ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì§€ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ì—¬ê¸°ê¹Œì§€ê°€ ì „ì²˜ë¦¬ì…ë‹ˆë‹¤. ì´í›„ì—ëŠ” ì´ì „ ìŠ¤í…ì— ì†Œê°œí–ˆë˜ ê²ƒê³¼ ë™ì¼í•œ ë°©ì‹ìœ¼ë¡œ MF modelì„ êµ¬ì„±í•˜ì—¬ ë‚´ê°€ ì¢‹ì•„í•  ë§Œí•œ ì˜í™”ë¥¼ ì¶”ì²œí•´ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [ ]:
movies['title'] = movies['title'].str.lower() # ê²€ìƒ‰ì„ ì‰½ê²Œ í•˜ê¸° ìœ„í•´ ì•„í‹°ìŠ¤íŠ¸ ë¬¸ìì—´ì„ ì†Œë¬¸ìë¡œ ë°”ê¿”ì¤ì‹œë‹¤.
movies['genre'] = movies['genre'].str.lower()

# genre ì „ì²˜ë¦¬ ì¶”ê°€í•˜ê¸°
movies.head(10)

   movie_id                               title                         genre
0         1                    toy story (1995)   animation|children's|comedy
1         2                      jumanji (1995)  adventure|children's|fantasy
2         3             grumpier old men (1995)                comedy|romance
3         4            waiting to exhale (1995)                  comedy|drama
4         5  father of the bride part ii (1995)                        comedy
5         6                         heat (1995)         action|crime|thriller
6         7                      sabrina (1995)                comedy|romance
7         8                 tom and huck (1995)          adventure|children's
8         9                 sudden death (1995)                        action
9        10                    goldeneye (1995)     action|adventure|thriller

In [ ]:
df = pd.merge(movies, ratings, on='movie_id')
df

,movie_id,title,genre,user_id,counts,timestamp
0,1,toy story (1995),animation|children's|comedy,1,5,978824268
1,1,toy story (1995),animation|children's|comedy,6,4,978237008
2,1,toy story (1995),animation|children's|comedy,8,4,978233496
3,1,toy story (1995),animation|children's|comedy,9,5,978225952
4,1,toy story (1995),animation|children's|comedy,10,5,978226474
...,...,...,...,...,...,...
836473,3952,"contender, the (2000)",drama|thriller,5682,3,1029457829
836474,3952,"contender, the (2000)",drama|thriller,5812,4,992072099
836475,3952,"contender, the (2000)",drama|thriller,5831,3,986223125
836476,3952,"contender, the (2000)",drama|thriller,5837,4,1011902656
836477,3952,"contender, the (2000)",drama|thriller,5998,4,1001781044

In [ ]:
using_cols = ['user_id', 'title', 'counts']
df = df[using_cols]
df.head(10)

   user_id             title  counts
0        1  toy story (1995)       5
1        6  toy story (1995)       4
2        8  toy story (1995)       4
3        9  toy story (1995)       5
4       10  toy story (1995)       5
5       18  toy story (1995)       4
6       19  toy story (1995)       5
7       21  toy story (1995)       3
8       23  toy story (1995)       4
9       26  toy story (1995)       3

## **2) ë¶„ì„í•´ ë´…ì‹œë‹¤.**
* ratingsì— ìˆëŠ” ìœ ë‹ˆí¬í•œ ì˜í™” ê°œìˆ˜
* ratingsì— ìˆëŠ” ìœ ë‹ˆí¬í•œ ì‚¬ìš©ì ìˆ˜
* ê°€ì¥ ì¸ê¸° ìˆëŠ” ì˜í™” 30ê°œ(ì¸ê¸°ìˆœ)

ì¼ë‹¨ ì²«ë²ˆì§¸ ìœ ì €ê°€ ì–´ë–»ê²Œ í‰ì ì„ ì¤¬ëŠ”ì§€ í•œë²ˆ ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
condition = (df['user_id']== ratings.loc[0, 'user_id'])
df.loc[condition]

        user_id                                              title  counts
0             1                                   toy story (1995)       5
19773         1                                  pocahontas (1995)       5
35123         1                                   apollo 13 (1995)       5
54895         1          star wars: episode iv - a new hope (1977)       4
116019        1                            schindler's list (1993)       5
119008        1                          secret garden, the (1993)       4
130190        1                                     aladdin (1992)       4
138999        1             snow white and the seven dwarfs (1937)       4
139706        1                        beauty and the beast (1991)       5
142605        1                                       fargo (1996)       4
149342        1                   james and the giant peach (1996)       3
153599        1  wallace & gromit: the best of aardman animatio...       3
157311        1                              close shave, a (1995)       3
162564        1                hunchback of notre dame, the (1996)       4
184379        1                                my fair lady (1964)       3
185984        1                           wizard of oz, the (1939)       4
194770        1                                        gigi (1958)       4
206730        1                                  cinderella (1950)       5
208099        1                                mary poppins (1964)       5
209016        1                                       dumbo (1941)       5
210912        1                         sound of music, the (1965)       5
230314        1                  e.t. the extra-terrestrial (1982)       4
248714        1             one flew over the cuckoo's nest (1975)       5
253451        1                         princess bride, the (1987)       3
264249        1                       to kill a mockingbird (1962)       4
293292        1                          dead poets society (1989)       4
310685        1                          back to the future (1985)       5
321302        1                                     ben-hur (1959)       5
376764        1                                     ponette (1996)       4
378252        1                                    hercules (1997)       4
413443        1                                     titanic (1997)       4
427854        1                     last days of disco, the (1998)       5
433771        1                                       mulan (1998)       4
450533        1                                    rain man (1988)       5
451817        1                          driving miss daisy (1989)       4
468578        1                                       bambi (1942)       4
472333        1                         saving private ryan (1998)       5
525392        1                                        antz (1998)       4
530676        1                               pleasantville (1998)       3
536358        1                              meet joe black (1998)       3
539498        1                               bug's life, a (1998)       5
552697        1                      miracle on 34th street (1947)       4
604667        1                                      tarzan (1999)       3
605985        1                   run lola run (lola rennt) (1998)       4
624733        1                            sixth sense, the (1999)       4
630899        1                                   airplane! (1980)       4
633946        1                                         big (1988)       4
635999        1                          christmas story, a (1983)       5
656320        1                    ferris bueller's day off (1986)       4
698979        1                                  awakenings (1990)       5
701857        1                                 toy story 2 (1999)       4
716464        1                           girl, interrupted (1999)       4
748880        1                             erin brockovich (2000)       4

'ë»ê¾¸ê¸° ë‘¥ì§€ ìœ„ë¡œ ë‚ ì•„ê°„ ìƒˆ' ì˜í™”ì— 5ì ì„ ì¤¬ë„¤ìš”~ ì „ì²´ì ìœ¼ë¡œ ì ìˆ˜ê°€ í›„í•©ë‹ˆë‹¤.

### ratingsì— ìˆëŠ” ìœ ë‹ˆí¬í•œ ì˜í™” ê°œìˆ˜

In [ ]:
df['title'].nunique()

3628

### ratingsì— ìˆëŠ” ìœ ë‹ˆí¬í•œ ì‚¬ìš©ì ìˆ˜

In [ ]:
df['user_id'].nunique()

6039

### ê°€ì¥ ì¸ê¸° ìˆëŠ” ì˜í™” 30ê°œ(ì¸ê¸°ìˆœ)

In [ ]:
artist_count = df.groupby('title')['counts'].sum()
artist_count_result = artist_count.sort_values(ascending=False).head(30)
artist_count_result=pd.DataFrame(artist_count_result)
artist_count_result

                                                    counts
title
american beauty (1999)                               14449
star wars: episode iv - a new hope (1977)            13178
star wars: episode v - the empire strikes back ...   12648
saving private ryan (1998)                           11348
star wars: episode vi - return of the jedi (1983)    11303
raiders of the lost ark (1981)                       11179
silence of the lambs, the (1991)                     11096
matrix, the (1999)                                   10903
sixth sense, the (1999)                              10703
terminator 2: judgment day (1991)                    10513
fargo (1996)                                         10465
schindler's list (1993)                              10317
braveheart (1995)                                    10125
shawshank redemption, the (1994)                     10085
back to the future (1985)                            10081
godfather, the (1972)                                 9965
princess bride, the (1987)                            9866
jurassic park (1993)                                  9601
l.a. confidential (1997)                              9515
shakespeare in love (1998)                            9503
men in black (1997)                                   9057
pulp fiction (1994)                                   9053
being john malkovich (1999)                           8964
groundhog day (1993)                                  8727
e.t. the extra-terrestrial (1982)                     8696
forrest gump (1994)                                   8679
terminator, the (1984)                                8571
toy story (1995)                                      8475
ghostbusters (1984)                                   8282
alien (1979)                                          8244

rating(counts)ì„ sum í•œ ê°’ì´ë¼ì„œ counts ë€ì— í•´ë‹¹ ì˜í™”ë¥¼ ë³¸ íšŸìˆ˜ê°€ sumë˜ì–´ìˆìŠµë‹ˆë‹¤.

ì•„ë©”ë¦¬ì¹¸ ë·°í‹°, ìŠ¤íƒ€ì›Œì¦ˆ, ë¼ì´ì–¸ ì¼ë³‘ êµ¬í•˜ê¸° ë“± ìµìˆ™í•œ ê³ ì „ ëª…ì‘ ì˜í™”ê°€ ìˆœìœ„ê¶Œì— ì¦ë¹„í•˜ë„¤ìš”

ìœ ì €ë³„ ëª‡ ë²ˆì˜ ì˜í™”ë¥¼ ë´¤ëŠ”ì§€ ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
user_count = df.groupby('user_id')['counts'].sum()
user_count.describe()

count    6039.000000
mean      548.273721
std       606.449800
min         3.000000
25%       154.000000
50%       329.000000
75%       704.000000
max      7590.000000
Name: counts, dtype: float64

In [ ]:
user_count

user_id
1        222
2        455
3        190
4         85
5        532
        ...
6036    2620
6037     727
6038      73
6039     469
6040    1117
Name: counts, Length: 6039, dtype: int64

ê°€ì¥ ë§ì€ ì˜í™”ë¥¼ ë³¸ ì‚¬ëŒì€ 7590 íšŒê¹Œì§€ ë´¤ë„¤ìš”~ ë³´í†µ 548íšŒì •ë„ ë´¤ë‹¤ê³  í•©ë‹ˆë‹¤ ëŒ€ë‹¨í•´

ë„ˆë¬´ ë§ì€ ê²ƒ ê°™ê¸°ë„ í•œë° ì´ê±´ ë³„ì ì„ ì‹œì²­íšŸìˆ˜ë¡œ ê°„ì£¼í–ˆê¸° ë•Œë¬¸ì— ë²Œì–´ì§„ ì¼ì…ë‹ˆë‹¤..

## **3) ë‚´ê°€ ì„ í˜¸í•˜ëŠ” ì˜í™”ë¥¼ 5ê°€ì§€ ê³¨ë¼ì„œ ratingsì— ì¶”ê°€í•´ ì¤ì‹œë‹¤.**

In [ ]:
# ì´ë¦„ì€ ê¼­ ë°ì´í„°ì…‹ì— ìˆëŠ” ê²ƒê³¼ ë™ì¼í•˜ê²Œ ë§ì¶°ì¤˜ì•¼í•œë‹¤!
my_favorite = ['chicken run (2000)' , 'shawshank redemption, the (1994)' ,'pulp fiction (1994)' ,"bug's life, a (1998)" ,'erin brockovich (2000)']

# 'jumi'ì´ë¼ëŠ” user_idê°€ ìœ„ ì˜í™”ë¥¼ ì‹œì²­í•œ íšŸìˆ˜(ë³„ì )ê°€ 5ì”©ì´ë¼ê³  ê°€ì •í•˜ê² ìŠµë‹ˆë‹¤.
my_playlist = pd.DataFrame({'user_id': ['jumi']*5, 'title': my_favorite, 'counts':[5]*5})

if not ratings.isin({'user_id':['jumi']})['user_id'].any():  # user_idì— 'jumi'ì´ë¼ëŠ” ë°ì´í„°ê°€ ì—†ë‹¤ë©´
    df = df.append(my_playlist)                           # ìœ„ì— ì„ì˜ë¡œ ë§Œë“  my_favorite ë°ì´í„°ë¥¼ ì¶”ê°€í•´ ì¤ë‹ˆë‹¤. 

df.tail(10)       # ì˜ ì¶”ê°€ë˜ì—ˆëŠ”ì§€ í™•ì¸í•´ ë´…ì‹œë‹¤.

       user_id                             title  counts
836473    5682             contender, the (2000)       3
836474    5812             contender, the (2000)       4
836475    5831             contender, the (2000)       3
836476    5837             contender, the (2000)       4
836477    5998             contender, the (2000)       4
0         jumi                chicken run (2000)       5
1         jumi  shawshank redemption, the (1994)       5
2         jumi               pulp fiction (1994)       5
3         jumi              bug's life, a (1998)       5
4         jumi            erin brockovich (2000)       5

ì˜ ì¶”ê°€ë˜ì—ˆë„¤ìš”~

In [ ]:
# ê³ ìœ í•œ ìœ ì €, ì•„í‹°ìŠ¤íŠ¸ë¥¼ ì°¾ì•„ë‚´ëŠ” ì½”ë“œ
user_unique = df['user_id'].unique()
movie_id_unique = df['title'].unique()

# ìœ ì €, ì•„í‹°ìŠ¤íŠ¸ indexing í•˜ëŠ” ì½”ë“œ idxëŠ” indexì˜ ì•½ìì…ë‹ˆë‹¤.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_id_to_idx = {v:k for k,v in enumerate(movie_id_unique)}

In [ ]:
df['user_id'].nunique()

6040

In [ ]:
print(user_to_idx['jumi'])    # 6040ëª…ì˜ ìœ ì € ì¤‘ ë§ˆì§€ë§‰ìœ¼ë¡œ ì¶”ê°€ëœ ìœ ì €ì´ë‹ˆ 6039ê°€ ë‚˜ì™€ì•¼ í•©ë‹ˆë‹¤.

6039

In [ ]:
# indexingì„ í†µí•´ ë°ì´í„° ì»¬ëŸ¼ ë‚´ ê°’ì„ ë°”ê¾¸ëŠ” ì½”ë“œ
# dictionary ìë£Œí˜•ì˜ get í•¨ìˆ˜ëŠ” https://wikidocs.net/16 ì„ ì°¸ê³ í•˜ì„¸ìš”.

# user_to_idx.getì„ í†µí•´ user_id ì»¬ëŸ¼ì˜ ëª¨ë“  ê°’ì„ ì¸ë±ì‹±í•œ Seriesë¥¼ êµ¬í•´ ë´…ì‹œë‹¤. 
# í˜¹ì‹œ ì •ìƒì ìœ¼ë¡œ ì¸ë±ì‹±ë˜ì§€ ì•Šì€ rowê°€ ìˆë‹¤ë©´ ì¸ë±ìŠ¤ê°€ NaNì´ ë  í…Œë‹ˆ dropna()ë¡œ ì œê±°í•©ë‹ˆë‹¤. 
temp_user_data = df['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(df):   # ëª¨ë“  rowê°€ ì •ìƒì ìœ¼ë¡œ ì¸ë±ì‹±ë˜ì—ˆë‹¤ë©´
    print('user_id column indexing OK!!')
    df['user_id'] = temp_user_data   # data['user_id']ì„ ì¸ë±ì‹±ëœ Seriesë¡œ êµì²´í•´ ì¤ë‹ˆë‹¤. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idxì„ í†µí•´ artist ì»¬ëŸ¼ë„ ë™ì¼í•œ ë°©ì‹ìœ¼ë¡œ ì¸ë±ì‹±í•´ ì¤ë‹ˆë‹¤. 
temp_movie_id_data = df['title'].map(movie_id_to_idx.get).dropna()
if len(temp_movie_id_data) == len(df):
    print('title column indexing OK!!')
    df['title'] = temp_movie_id_data
else:
    print('title column indexing Fail!!')

df

user_id column indexing OK!!
title column indexing OK!!

    user_id  title  counts
0         0      0       5
1         1      0       4
2         2      0       4
3         3      0       5
4         4      0       5
..      ...    ...     ...
0      6039   3433       5
1      6039    305       5
2      6039    283       5
3      6039   2114       5
4      6039   3110       5

[836483 rows x 3 columns]

## **4) CSR matrixë¥¼ ì§ì ‘ ë§Œë“¤ì–´ ë´…ì‹œë‹¤.**

In [ ]:
from scipy.sparse import csr_matrix

num_user = df['user_id'].nunique()
num_movie = df['title'].nunique()

csr_data = csr_matrix((df.counts, (df.user_id, df.title)), shape= (num_user, num_movie))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## **5) als_model = AlternatingLeastSquares ëª¨ë¸ì„ ì§ì ‘ êµ¬ì„±í•˜ì—¬ í›ˆë ¨ì‹œì¼œ ë´…ì‹œë‹¤.**

In [ ]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ ê¶Œì¥í•˜ê³  ìˆëŠ” ë¶€ë¶„ì…ë‹ˆë‹¤. í•™ìŠµ ë‚´ìš©ê³¼ëŠ” ë¬´ê´€í•©ë‹ˆë‹¤.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [ ]:
# Implicit AlternatingLeastSquares ëª¨ë¸ì˜ ì„ ì–¸
als_model = AlternatingLeastSquares(factors=300, regularization=0.01, use_gpu=False, iterations=100, dtype=np.float32)

In [ ]:
# als ëª¨ë¸ì€ inputìœ¼ë¡œ (item X user ê¼´ì˜ matrixë¥¼ ë°›ê¸° ë•Œë¬¸ì— Transposeí•´ì¤ë‹ˆë‹¤.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [ ]:
# ëª¨ë¸ í›ˆë ¨
als_model.fit(csr_data_transpose)

  0%|          | 0/100 [00:00<?, ?it/s]

## **6) ë‚´ê°€ ì„ í˜¸í•˜ëŠ” 5ê°€ì§€ ì˜í™” ì¤‘ í•˜ë‚˜ì™€ ê·¸ ì™¸ì˜ ì˜í™” í•˜ë‚˜ë¥¼ ê³¨ë¼ í›ˆë ¨ëœ ëª¨ë¸ì´ ì˜ˆì¸¡í•œ ë‚˜ì˜ ì„ í˜¸ë„ë¥¼ íŒŒì•…í•´ ë³´ì„¸ìš”.**

ë„ˆë¬´ë„ˆë¬´ ì¬ë°ŒëŠ” ì• ë‹ˆë©”ì´ì…˜ ì¹˜í‚¨ëŸ°ì…ë‹ˆë‹¤.. ê°ë™ ğŸ” ğŸ¤

In [ ]:
jumi, chicken_run = user_to_idx['jumi'], movie_id_to_idx['chicken run (2000)']
jumi_vector, chicken_run_vector = als_model.user_factors[jumi], als_model.item_factors[chicken_run]

print('ìŠ=3')

ìŠ=3

In [ ]:
jumi_vector

array([ 1.44828871e-01,  1.23439506e-01, -2.80297279e-01,  2.39950448e-01,
       -3.92419249e-01, -3.69699001e-01, -1.90648958e-02,  5.73755167e-02,
       -8.99208859e-02, -4.28472459e-02,  9.41368788e-02,  4.69745062e-02,
        3.73590499e-01,  2.63949782e-01, -1.40150547e-01, -4.13345367e-01,
       -2.21703306e-01,  1.86629385e-01, -2.92054951e-01, -2.56979108e-01,
        5.61946705e-02, -1.96970299e-01, -6.39449954e-02,  1.48100302e-01,
        1.13556072e-01, -9.67146233e-02, -5.52164279e-02, -1.58128008e-01,
        1.43814147e-01, -2.28259757e-01,  7.54811838e-02,  2.40348756e-01,
       -4.44228053e-02,  2.85815954e-01, -6.98581757e-03, -4.41561751e-02,
        1.38067394e-01,  2.51470000e-01, -4.20246385e-02, -3.45215313e-02,
        2.61311531e-01, -4.37466577e-02, -2.49598190e-01,  1.28917888e-01,
       -2.53840774e-01,  1.19846247e-01,  3.20963204e-01,  9.60411578e-02,
       -3.94566059e-02, -1.03526842e-02,  1.21760508e-02, -2.14722976e-01,
       -1.56794950e-01,  1.35505497e-01,  7.81333372e-02,  1.81031570e-01,
        5.73314428e-02,  2.50008166e-01, -1.16927745e-02, -5.92226051e-02,
        2.46540666e-01, -4.63952988e-01,  1.43339530e-01, -2.83228338e-01,
        9.94798318e-02, -3.39723751e-02, -1.34009421e-01,  4.90604155e-02,
       -1.86950490e-01,  1.18788376e-01, -4.04588282e-02,  1.17900722e-01,
        5.69544844e-02,  7.18866512e-02, -4.19412822e-01, -3.82771313e-01,
        1.03937462e-01,  3.61800134e-01,  7.68592060e-02, -3.42806071e-01,
        1.99878961e-01,  3.99755139e-04, -1.53234452e-01, -2.33460531e-01,
       -4.20065463e-01,  2.86955029e-01,  2.18278244e-02, -1.51357884e-02,
        1.18921220e-01, -2.47969404e-02,  8.37796479e-02,  1.07692152e-01,
       -1.73208579e-01,  7.26514235e-02,  3.93118374e-02, -8.61619338e-02,
        8.34201425e-02, -2.15733618e-01,  1.71376482e-01, -7.10891634e-02,
        3.21413092e-02,  1.58311352e-02,  9.94467884e-02, -1.23530865e-01,
       -1.62612438e-01,  1.18765533e-01,  1.01170830e-01, -3.98385257e-01,
       -2.28011698e-01,  2.44978562e-01, -1.82066232e-01,  2.96293683e-02,
        2.50766724e-01,  1.56117946e-01,  1.85314730e-01, -6.94464706e-03,
       -1.12383947e-01,  1.92523703e-01, -9.72954854e-02,  3.27565879e-01,
        1.61643907e-01,  3.32827151e-01,  5.84537163e-02, -3.87696922e-01,
       -4.93299812e-02,  2.69575547e-02, -1.70746744e-01,  2.94496287e-02,
        8.91035274e-02, -8.59558731e-02,  4.98479679e-02, -1.22740783e-01,
        1.69412553e-01,  1.53213575e-01,  1.51712909e-01,  3.86203229e-02,
       -4.53645922e-02,  1.14557870e-01, -1.37332007e-01,  2.19869733e-01,
       -1.62868783e-01,  1.03332117e-01, -1.15806229e-01, -4.05134737e-01,
        2.24953353e-01,  2.69901985e-03,  2.38591775e-01,  5.17205037e-02,
       -1.44329995e-01,  1.24788746e-01, -7.20730722e-02, -1.26730800e-01,
        6.92041144e-02, -1.27361581e-01,  1.93954691e-01,  1.61414649e-02,
       -2.95289487e-01, -2.55547203e-02,  1.59411475e-01, -1.52632639e-01,
        1.79464087e-01, -6.86592162e-02,  1.31468818e-01, -4.22623083e-02,
        3.15338194e-01,  8.99680331e-02, -2.05061227e-01, -1.16518363e-01,
        5.31677268e-02,  1.12330414e-01, -6.28524795e-02,  1.61235183e-02,
       -1.04097836e-01,  1.32402465e-01, -2.07439572e-01,  1.06796019e-01,
        1.99487835e-01, -3.93396914e-01,  2.07779080e-01, -5.01182318e-01,
       -1.44193247e-01,  1.85451984e-01, -4.19217348e-01,  1.99936628e-01,
        1.71210900e-01,  5.34290746e-02, -2.72158645e-02,  1.10877052e-01,
       -1.45284951e-01, -4.24145721e-02,  1.23240072e-02,  4.63466555e-01,
        5.72492890e-02,  3.62282932e-01, -2.15716809e-01, -1.38584942e-01,
       -2.39737723e-02, -1.87086612e-01,  2.04473004e-01, -2.86473304e-01,
       -1.66405097e-01,  4.52490225e-02, -1.06848657e-01,  2.93801904e-01,
       -3.01806688e-01, -1.96384594e-01, -2.66095489e-01, -2.07963698e-02,
        4.54856545e-01, -9.93353352e-02,  6.54617026e-02,  1.88385978e-01,
       -1.75502703e-01, -2.55318820e-01, -3.68971169e-01, -9.16676521e-02,
        4.19287086e-02,  6.36577234e-02,  3.47508863e-02,  1.96368933e-01,
       -2.58554697e-01, -3.44469659e-02,  6.18833937e-02, -1.77602902e-01,
        8.84902850e-02, -2.99328625e-01,  3.52227911e-02, -1.14042789e-01,
       -8.31796676e-02, -3.86150926e-02,  2.20830038e-01,  3.53094012e-01,
       -5.36951162e-02,  2.74287760e-01, -1.32607436e-02, -9.66979787e-02,
        3.73590827e-01,  1.08535886e-01,  8.83055925e-02, -6.06609173e-02,
        3.70432764e-01,  4.78624366e-02, -7.68651590e-02,  2.08416954e-01,
        8.09667483e-02,  1.58002332e-01, -9.87253636e-02, -1.81503538e-02,
        1.90794438e-01, -8.43296200e-02, -7.51670264e-03,  8.58364701e-02,
       -2.24940047e-01,  4.02894557e-01,  2.37407282e-01,  1.40295744e-01,
        1.30581066e-01,  2.12097779e-01, -1.54696569e-01,  1.10320829e-01,
        4.34557348e-01, -1.67895913e-01, -2.30428189e-01, -1.63401991e-01,
        6.21259473e-02,  1.99790224e-01,  9.17698294e-02, -2.12130025e-01,
       -2.56798923e-01,  2.29943827e-01,  2.19164893e-01, -1.86206937e-01,
        7.10674897e-02, -2.96475142e-01,  3.38392705e-02,  4.40870374e-02,
       -1.46374524e-01,  2.07967728e-01,  2.42645755e-01,  1.92042127e-01,
       -2.92869806e-01,  8.84971470e-02, -2.42624894e-01, -3.39390904e-01,
        3.24153960e-01,  9.78472009e-02, -4.33934987e-01, -1.04293555e-01,
        9.92267355e-02, -1.39941365e-01, -1.85855642e-01,  8.02526549e-02,
       -2.28341386e-01,  2.21660823e-01, -5.64161688e-02,  2.06517667e-01,
       -3.81650269e-01, -1.37155075e-02,  1.88868985e-01, -3.52324843e-02],
      dtype=float32)

In [ ]:
chicken_run_vector

array([ 3.27575691e-02,  1.41779091e-02,  7.67479884e-03,  3.35771367e-02,
       -3.18204649e-02, -3.89600173e-02,  4.89066616e-02,  5.35822287e-03,
       -5.90545498e-02, -2.53488310e-04, -3.81781757e-02, -4.04532393e-03,
        5.94547652e-02,  3.94766480e-02, -2.22946629e-02,  1.60892867e-02,
       -1.34735014e-02,  1.44637367e-02, -3.09066586e-02, -7.30219260e-02,
        6.44242018e-03, -1.26195047e-02, -1.75346751e-02,  9.51057673e-03,
        4.58699726e-02, -4.76089828e-02,  1.40704690e-02, -4.41891290e-02,
        9.85765923e-03,  2.09001489e-02, -5.53288357e-03, -2.79018495e-05,
        1.16414949e-02, -2.05404498e-02,  2.27376744e-02, -6.87794760e-02,
        1.63687374e-02,  5.62020428e-02, -7.92438816e-03, -2.27791090e-02,
        1.69931129e-02,  2.94721629e-02, -2.22893152e-02,  6.72089085e-02,
       -1.09458193e-02, -2.52839681e-02,  2.94379164e-02, -2.74646818e-03,
       -5.76896407e-02, -7.16549009e-02, -3.97881530e-02, -7.77243404e-03,
       -1.28800105e-02,  5.73207065e-02,  2.07721908e-02,  3.22639458e-02,
       -1.30653931e-02,  6.92835897e-02, -1.08527802e-02,  2.67428672e-03,
        3.59541401e-02, -7.44783431e-02, -3.41507569e-02, -4.03316133e-02,
       -2.08909381e-02,  4.23626341e-02,  2.27899794e-02,  5.42334467e-02,
        8.34876113e-03,  4.69188429e-02,  3.87593322e-02,  2.82575116e-02,
        2.13697813e-02, -2.68734153e-02, -5.45243844e-02, -2.07761209e-02,
        4.85028103e-02,  1.17756575e-02, -1.19134793e-02, -1.85507126e-02,
        2.92599816e-02, -1.82018802e-02, -1.73850497e-03, -1.10135237e-02,
       -3.09061781e-02,  2.75726151e-02,  1.35875689e-02,  3.41090448e-02,
        2.90354006e-02,  1.25505608e-02,  4.67930697e-02,  1.72714852e-02,
        1.91110205e-02,  1.34512242e-02, -1.45493299e-02, -2.35100202e-02,
        8.47640112e-02,  4.05092686e-02,  4.38420996e-02, -7.85194337e-02,
       -2.63257027e-02, -2.70340052e-02,  3.59759554e-02, -2.95123813e-04,
        1.58094317e-02,  7.13415537e-03, -3.23148072e-02, -5.28316237e-02,
        5.99681213e-03,  3.28105763e-02, -2.26625148e-02, -4.26583290e-02,
        4.78655435e-02,  4.59968448e-02, -1.37909157e-02, -2.17056740e-02,
       -2.80349385e-02,  6.35156855e-02,  2.66446639e-02,  3.46604250e-02,
        1.61982495e-02,  2.27623107e-03,  7.09220469e-02, -3.35765481e-02,
        2.62293909e-02,  1.52709626e-03,  1.70837231e-02,  3.68813649e-02,
        3.24404775e-03, -3.96795385e-02, -3.54036363e-03, -2.80511566e-02,
       -9.92884766e-03,  6.62903041e-02,  3.51713523e-02,  4.54565659e-02,
       -2.81728664e-03, -1.21158722e-03, -2.83266976e-02,  3.59923840e-02,
       -2.77165677e-02, -7.97471683e-03,  1.44192223e-02,  6.80692634e-03,
        4.20440659e-02,  1.31342122e-02,  8.81478470e-03,  4.10688818e-02,
        4.36676666e-03,  9.71550704e-04,  4.46705753e-03, -2.70175450e-02,
       -3.70638631e-02,  4.84076954e-05,  4.36732918e-02, -2.14648210e-02,
       -8.37709941e-03, -6.99967239e-03, -4.71682614e-03,  6.30880147e-03,
       -8.27493612e-03,  4.86589503e-03, -3.54389288e-03, -2.29111817e-02,
       -7.06146983e-03,  7.31751847e-04,  1.75419019e-03, -6.61517540e-03,
        2.00164560e-02, -5.52773941e-03,  1.86888184e-02,  2.03751435e-04,
       -5.11498610e-03,  1.90832801e-02,  8.53106938e-03,  4.49106619e-02,
       -4.17868886e-03, -2.38449425e-02,  2.59875413e-02, -5.23082800e-02,
       -1.34814316e-02,  3.54101472e-02, -5.82947619e-02,  3.38161201e-03,
        6.62333667e-02, -5.75427990e-03, -5.69769274e-03,  1.73530262e-02,
       -6.34803548e-02,  9.45923477e-03, -3.49488063e-03,  3.62478942e-02,
       -3.25423144e-02, -2.31180759e-03,  1.12250242e-02,  4.44979481e-02,
        8.81007686e-03,  3.27094160e-02,  3.69899571e-02,  1.76827330e-02,
       -2.30715275e-02, -1.64541528e-02,  2.19121613e-02,  5.91508411e-02,
       -1.14879869e-02, -3.80663797e-02, -5.26815765e-02,  7.33702770e-03,
        6.98985606e-02,  3.91727239e-02,  3.18757929e-02,  2.08348949e-02,
       -3.09480149e-02, -1.62651134e-03, -4.04652916e-02, -5.38053252e-02,
        9.77353426e-04, -1.67035852e-02,  7.62619600e-02, -4.93978709e-02,
       -2.39440426e-02,  1.86999124e-02,  3.35743427e-02, -5.71701489e-02,
       -2.78380327e-02, -3.16443518e-02,  2.26387680e-02, -2.82336790e-02,
       -1.42763392e-03,  5.28060459e-02,  4.25247252e-02, -1.27681587e-02,
       -1.18146241e-02,  2.89726369e-02, -1.67848784e-02,  2.28191763e-02,
        2.71150041e-02,  8.54666717e-03,  5.54531403e-02,  3.59024182e-02,
        1.39232138e-02, -2.73906104e-02, -1.61369741e-02,  7.73781212e-03,
       -2.59384140e-02,  3.55862677e-02,  4.53385003e-02, -7.37930275e-03,
        4.52866685e-03,  2.27754880e-02,  1.44594815e-02, -1.58595257e-02,
       -3.74909095e-03,  4.48784716e-02,  1.87746175e-02, -3.26896720e-02,
        3.22454944e-02,  4.81446534e-02, -8.46536551e-03,  4.85646203e-02,
        2.91364715e-02,  1.04889246e-02, -2.61756033e-02,  3.53996679e-02,
        2.52359491e-02, -6.98013837e-03, -1.97543167e-02,  3.67933065e-02,
       -3.89013514e-02,  3.16678286e-02,  6.05330691e-02, -1.13947736e-02,
        4.18669693e-02, -2.03178506e-02, -6.63392544e-02,  2.07566656e-02,
       -2.55261194e-02, -1.43944649e-02, -1.23634655e-02, -1.54974796e-02,
       -5.49991848e-03,  1.17988074e-02, -1.46999583e-03, -2.84266695e-02,
        7.38912448e-02,  1.55790867e-02, -9.37033328e-04,  3.13387737e-02,
        1.42232645e-02, -4.60978365e-03,  4.44476828e-02, -1.83228347e-02,
        4.18689242e-03,  3.64089496e-02,  4.99965400e-02,  1.51514607e-02,
        2.13004351e-02,  4.57127392e-02,  2.84852204e-03, -1.07157640e-02],
      dtype=float32)

In [ ]:
np.dot(jumi_vector, chicken_run_vector)

0.84039736

1ì— ê°€ê¹Œìš°ë©´ ì¢‹ê² ëŠ”ë° ê·¸ë˜ë„ 0.6ì´ë©´ ë‚˜ì˜ì§€ì•Šë„¤ìš”, factorë¥¼ ëŠ˜ë¦¬ê±°ë‚˜ iterationì„ ëŠ˜ë ¤ì•¼ í•  ê²ƒ ê°™ë‹µë‹ˆë‹¤?  
-> factorë¥¼ 500, iterationì„ 30ìœ¼ë¡œ í–ˆë”ë‹ˆ 1ì— ê°€ê¹Œìš´ 0.9153 ê°’ì´ ë‚˜ì™”ë„¤ìš”!

In [ ]:
toy_story = movie_id_to_idx['toy story (1995)']
toy_vector = als_model.item_factors[toy_story]
np.dot(jumi_vector, toy_vector)

0.095197596

In [ ]:
s_list = movie_id_to_idx["schindler's list (1993)"]
s_list_vector = als_model.item_factors[s_list]
np.dot(jumi_vector, s_list_vector)

0.09148958

## **7) ë‚´ê°€ ì¢‹ì•„í•˜ëŠ” ì˜í™”ì™€ ë¹„ìŠ·í•œ ì˜í™”ë¥¼ ì¶”ì²œë°›ì•„ ë´…ì‹œë‹¤.**

AlternatingLeastSquares í´ë˜ìŠ¤ì— êµ¬í˜„ë˜ì–´ ìˆëŠ” `similar_items` ë©”ì„œë“œë¥¼ í†µí•˜ì—¬ ë¹„ìŠ·í•œ ì˜í™”ë¥¼ ì°¾ìŠµë‹ˆë‹¤. ì•„ê¹Œë„ ì‚¬ìš©í–ˆë˜ ì¹˜í‚¨ëŸ°ìœ¼ë¡œ ë¹„ìŠ·í•œ ì˜í™”ë¥¼ ì¶”ì²œë°›ì•„ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
favorite_movie = 'chicken run (2000)'
artist_id = movie_id_to_idx[favorite_movie]
similar_movie = als_model.similar_items(artist_id, N=15)
similar_movie

[(3433, 1.0),
 (3307, 0.25984147),
 (3436, 0.25901368),
 (693, 0.24769531),
 (1107, 0.24218953),
 (1300, 0.23908626),
 (3130, 0.23876856),
 (3428, 0.23227207),
 (3182, 0.22387223),
 (3262, 0.22027485),
 (3510, 0.21412477),
 (3304, 0.20749384),
 (3430, 0.20607232),
 (3252, 0.20495552),
 (2372, 0.20366952)]

(ì˜í™”id, ìœ ì‚¬ë„) í˜•íƒœì˜ tupleë¡œ ë°˜í™˜í•˜ê³  ìˆìŠµë‹ˆë‹¤. ì˜í™” idë¥¼ ë‹¤ì‹œ ì˜í™” ì´ë¦„ìœ¼ë¡œ ë§¤í•‘ì‹œì¼œì¤ë‹ˆë‹¤.

In [ ]:
# movie_id_to_idx ë¥¼ ë’¤ì§‘ì–´, indexë¡œë¶€í„° movie ì´ë¦„ì„ ì–»ëŠ” dictë¥¼ ìƒì„±í•©ë‹ˆë‹¤. 
idx_to_movie_id = {v:k for k,v in movie_id_to_idx.items()}
[idx_to_movie_id[i[0]] for i in similar_movie]

['chicken run (2000)',
 'small time crooks (2000)',
 'adventures of rocky and bullwinkle, the (2000)',
 'close shave, a (1995)',
 'grand day out, a (1992)',
 'machine, the (1994)',
 'creature comforts (1990)',
 'titan a.e. (2000)',
 'road to el dorado, the (2000)',
 'idiots, the (idioterne) (1998)',
 'saving grace (2000)',
 'dinosaur (2000)',
 "jesus' son (1999)",
 'virgin suicides, the (1999)',
 "trippin' (1999)"]

In [ ]:
def get_similar_movie(movie_name: str):
    movie_id = movie_id_to_idx[movie_name]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_movie_id[i[0]] for i in similar_movie]
    return similar_movie

print("ìŠ=3")

ìŠ=3

In [ ]:
get_similar_movie('shawshank redemption, the (1994)')

['shawshank redemption, the (1994)',
 'good will hunting (1997)',
 'rage: carrie 2, the (1999)',
 'silence of the lambs, the (1991)',
 'goodfellas (1990)',
 'pulp fiction (1994)',
 'jerry & tom (1998)',
 'ulysses (ulisse) (1954)',
 'innocents, the (1961)',
 "schindler's list (1993)"]

ì‹¤í™”ê¸°ë°˜, ë“œë¼ë§ˆ ì¥ë¥´ì˜ ì˜í™”ë“¤ì´ ê½¤ ë‚˜ì™”ìŠµë‹ˆë‹¤. ë¹„ìŠ·í•œ ê²ƒ ê°™ìŠµë‹ˆë‹¤.

In [ ]:
get_similar_movie('pulp fiction (1994)')

['pulp fiction (1994)',
 'goodfellas (1990)',
 'reservoir dogs (1992)',
 'fargo (1996)',
 'back stage (2000)',
 'jackie brown (1997)',
 'shawshank redemption, the (1994)',
 'usual suspects, the (1995)',
 'condition red (1995)',
 'good will hunting (1997)']

ì¢‹ì€ ì¹œêµ¬ë“¤, ì €ìˆ˜ì§€ì˜ ê°œë“¤ ê°™ì€ ë§¤ìš° ìœ ì‚¬í•œ ì¥ë¥´ì˜ ì˜í™”ê°€ ë§ì´ ë‚˜ì™”ë„¤ìš”. ì €ìˆ˜ì§€ì˜ ê°œë“¤ì€ í„í”„í”½ì…˜ì˜ ê°ë…ê³¼ ê°™ì€ ì¿ ì—”í‹´ íƒ€ë€í‹°ë…¸ ê°ë…ì˜ ì‘í’ˆìœ¼ë¡œ, ì•„ì£¼ ë¹„ìŠ·í•œ ì˜í™”ì£ !

## **8) ë‚´ê°€ ê°€ì¥ ì¢‹ì•„í•  ë§Œí•œ ì˜í™”ë“¤ì„ ì¶”ì²œë°›ì•„ ë´…ì‹œë‹¤.**

AlternatingLeastSquares í´ë˜ìŠ¤ì— êµ¬í˜„ë˜ì–´ ìˆëŠ” `recommend` ë©”ì„œë“œë¥¼ í†µí•˜ì—¬ ì œê°€ ì¢‹ì•„í•  ë§Œí•œ ì˜í™”ë¥¼ ì¶”ì²œë°›ìŠµë‹ˆë‹¤. filter_already_liked_items ëŠ” ìœ ì €ê°€ ì´ë¯¸ í‰ê°€í•œ ì•„ì´í…œì€ ì œì™¸í•˜ëŠ” Argumentì…ë‹ˆë‹¤.

In [ ]:
user = user_to_idx['jumi']
# recommendì—ì„œëŠ” user*item CSR Matrixë¥¼ ë°›ìŠµë‹ˆë‹¤.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(587, 0.24533886),
 (2845, 0.2412419),
 (1097, 0.20556715),
 (2878, 0.1849227),
 (2155, 0.17297412),
 (1109, 0.1513806),
 (2056, 0.14446332),
 (3231, 0.14146689),
 (1547, 0.13779077),
 (1532, 0.13693616),
 (3270, 0.13301389),
 (573, 0.12851314),
 (3304, 0.12807454),
 (2877, 0.12622863),
 (2470, 0.12322686),
 (3180, 0.122345924),
 (2968, 0.122273766),
 (995, 0.11962016),
 (35, 0.11889484),
 (2406, 0.11657454)]

In [ ]:
[idx_to_movie_id[i[0]] for i in movie_recommended]

['fargo (1996)',
 'toy story 2 (1999)',
 'goodfellas (1990)',
 'cider house rules, the (1999)',
 'shakespeare in love (1998)',
 'amadeus (1984)',
 'antz (1998)',
 '28 days (2000)',
 'jackie brown (1997)',
 'good will hunting (1997)',
 'gladiator (2000)',
 'silence of the lambs, the (1991)',
 'dinosaur (2000)',
 'green mile, the (1999)',
 'runaway bride (1999)',
 'high fidelity (2000)',
 "wayne's world (1992)",
 'reservoir dogs (1992)',
 'dead man walking (1995)',
 'rocky horror picture show, the (1975)']

ì¢‹ì€ ì¹œêµ¬ë“¤ì„ ì¶”ì²œí•´ì£¼ë„¤ìš”! ì™ ì§€ í„í”„í”½ì…˜ ë•Œë¬¸ì¸ ê²ƒ ê°™ìŠµë‹ˆë‹¤.

In [ ]:
toy_story = movie_id_to_idx['goodfellas (1990)']
explain = als_model.explain(user, csr_data, itemid=toy_story)

In [ ]:
[(idx_to_movie_id[i[0]], i[1]) for i in explain[1]]

[('pulp fiction (1994)', 0.1770970355960667),
 ('shawshank redemption, the (1994)', 0.06608828557387775),
 ("bug's life, a (1998)", 0.005277838169644559),
 ('erin brockovich (2000)', -0.015549937634761927),
 ('chicken run (2000)', -0.028206468913068435)]

ìŒ.. ê¸°ì—¬ë„ê°€ ì „ì²´ì ìœ¼ë¡œ ë‚®ê¸´ í•œë° ì œ ì˜ˆìƒì²˜ëŸ¼ í„í”„í”½ì…˜ì´ ê°€ì¥ ê¸°ì—¬ë„ ë¹„ì¤‘ì´ ë†’ìŠµë‹ˆë‹¤. í„í”„í”½ì…˜ë•Œë¬¸ì— ì¶”ì²œí•´ì¤€ë“¯

## ğŸŒ® ë£¨ë¸Œë¦­
| **í‰ê°€ë¬¸í•­** | **ìƒì„¸ê¸°ì¤€** | **ì„±ì·¨ê²°ê³¼** |
|:---:|---|:---:|
| 1. CSR matrixê°€ ì •ìƒì ìœ¼ë¡œ ë§Œë“¤ì–´ì¡Œë‹¤. | ì‚¬ìš©ìì™€ ì•„ì´í…œ ê°œìˆ˜ë¥¼ ë°”íƒ•ìœ¼ë¡œ ì •í™•í•œ ì‚¬ì´ì¦ˆë¡œ ë§Œë“¤ì—ˆë‹¤. | O |
| 2. MF ëª¨ë¸ì´ ì •ìƒì ìœ¼ë¡œ í›ˆë ¨ë˜ì–´ ê·¸ëŸ´ë“¯í•œ ì¶”ì²œì´ ì´ë£¨ì–´ì¡Œë‹¤. | ì‚¬ìš©ìì™€ ì•„ì´í…œ ë²¡í„° ë‚´ì ìˆ˜ì¹˜ê°€ ì˜ë¯¸ìˆê²Œ í˜•ì„±ë˜ì—ˆë‹¤. | O |
| 3. ë¹„ìŠ·í•œ ì˜í™” ì°¾ê¸°ì™€ ìœ ì €ì—ê²Œ ì¶”ì²œí•˜ê¸°ì˜ ê³¼ì •ì´ ì •ìƒì ìœ¼ë¡œ ì§„í–‰ë˜ì—ˆë‹¤. | MFëª¨ë¸ì´ ì˜ˆì¸¡í•œ ìœ ì € ì„ í˜¸ë„ ë° ì•„ì´í…œê°„ ìœ ì‚¬ë„, ê¸°ì—¬ë„ë¥¼ ì¸¡ì •í•˜ê³  ì˜ë¯¸ë¥¼ ë¶„ì„í•´ë³´ì•˜ë‹¤. | O |

## âœ íšŒê³

* csr í–‰ë ¬ ìƒì„±ì—ì„œ ì˜¤ë¥˜ê°€ ìƒê²¼ë‹¤. ì¸ë±ìŠ¤ê°€ ë­ ë²”ìœ„ë°–ì´ë¼ë‚˜? ì„¸ì˜ë‹˜ì´ ë²„ì „ ë¬¸ì œì¼ê±°ë¼ê³  í•˜ì…”ì„œ lms ë²„ì „ì´ë‘ ì¼ì¹˜ì‹œì¼œì¤¬ë‹¤. thx ğŸ™ (implicit)   
ê·¸ëŸ°ë° `Could not build wheels for implicit which use PEP 517 and cannot be installed directly` ì´ë¼ëŠ” ì˜¤ë¥˜ê°€ ë˜ ìƒê²¨ì„œ ê²€ìƒ‰í•´ë³´ë‹ˆ   
`pip install --upgrade pip setuptools wheel` í•œì¤„ ì‹¤í–‰í•´ì£¼ë©´ ëœë‹¤ê³  í•´ì„œ ê·¸ëŒ€ë¡œ í–ˆë‹¤.  
ì„±ê³µ!

* ë‚˜ì˜ ì„ í˜¸ ì˜í™”ì™€ ë‚˜ì˜ csr ë²¡í„°ë¥¼ ë‚´ì í–ˆì„ ë•Œ 1ì— ê°€ê¹Œì´ ë‚˜ì™€ì•¼ í•œë‹¤ê³  í–ˆëŠ”ë°, ì´ˆë°˜ì— 0.6? ì •ë„ê°€ ë‚˜ì™€ì„œ iterationê³¼ factorë¥¼ ë‘ë°°ë¡œ ëŠ˜ë ¤ì¤¬ë‹¤. ê·¸ ê²°ê³¼ chicken runì€ 0.9ì— ìœ¡ë°•í•˜ëŠ” ê²°ê³¼ê°€ ë‚˜ì™”ì§€ë§Œ,, ì‡¼ìƒí¬ íƒˆì¶œê³¼ í„í”„í”½ì…˜ ê°™ì€ ì˜í™”ëŠ” 0ì— ê°€ê¹Œìš´ ê°’ì´ ë‚˜ì™”ë‹¤. ê³¼ì í•©ëœê²ƒì¼ê¹Œ?  
    * factor, iterationì„ ì ì ˆí•˜ê²Œ ì¡°ì ˆí•´ ë³¸ ê²°ê³¼, ì ì ˆí•œ í‰í˜•ì„ ìœ ì§€í•˜ëŠ” ê·¸ ì§€ì ì„ ì°¾ëŠ”ê²Œ ì¢‹ì•„ë³´ì¸ë‹¤. ì§€ê¸ˆ ê²°ê³¼ê°’ìœ¼ë¡œëŠ” ì¹˜í‚¨ëŸ°ì´ 0.8ì •ë„ê³ , í† ì´ìŠ¤í† ë¦¬ì™€ ì‰°ë“¤ëŸ¬ë¦¬ìŠ¤íŠ¸ëŠ” 0.1ì´ ë‚˜ì˜¨ë‹¤. ì´ì „ ì‹œí–‰ì—ì„œ 0.9ì™€ 0.01ì´ ë‚˜ì˜¨ ê²ƒë³´ë‹¤ëŠ” ë‚«ë‹¤ê³  ìƒê°.

* ë§ˆì§€ë§‰ì— ë‚´ê°€ ì¢‹ì•„í•  ê²ƒ ê°™ì€ ì˜í™”ë“¤ì„ ì¶”ì²œí•´ì¤¬ëŠ”ë°, ìµœì‹  DBë¡œ í–ˆìœ¼ë©´ ë” ì¬ë°Œê³  ê³µê°ëì„ ê²ƒ ê°™ë‹¤ëŠ” ìƒê°ì´ ë“¤ì—ˆë‹¤. ê·¸ë ‡ì§€ë§Œ í˜„ì¬ ë°ì´í„°ë¡œ ë§Œë“  ê²°ê³¼ë„ ê½¤ ì •í™•í–ˆë‹¤. ì–´ë–¤ ì˜í™”ë•Œë¬¸ì— ì¶”ì²œí•´ ì¤€ì§€ ì•Œ ê²ƒ ê°™ì•˜ê³ , í‰ì ì„ ì‹œì²­ì‹œê°„ìœ¼ë¡œ ê°„ì£¼í•´ì„œ í‰ì ì´ ë†’ì€ ì˜í™”ë“¤ ìœ„ì£¼ë¡œ ì¶”ì²œí•´ì¤€ê²Œ ë³´ì˜€ë‹¤.  
ë‹¤ë§Œ í‰ì ì„ ì‹œì²­ì‹œê°„ìœ¼ë¡œ ê°„ì£¼í•´ì„œ ì¢€ ë¶€ì •í™•í•˜ê²Œ ëŠê»´ì¡Œê³  ì •í™•í•œ ì‹œì²­ì‹œê°„ì„ ì•ˆë‹¤ê±°ë‚˜ ì•”ë¬µì ì¸ í‰ê°€ë¥¼ ë” ì¶”ê°€í•´ì„œ csr í–‰ë ¬ì„ ë§Œë“ ë‹¤ë©´ ë”ìš± ì„±ëŠ¥ ì¢‹ì€ ì¶”ì²œ ì‹œìŠ¤í…œì„ ë§Œë“¤ìˆ˜ ìˆê² ë‹¤ê³  ìƒê°ì´ ë˜ì—ˆë‹¤.

* í„í”„ í”½ì…˜, ì¹˜í‚¨ëŸ°, ì‡¼ìƒí¬íƒˆì¶œ.. ê°™ì€ ë‚´ ì˜í™” variationì´ ë„“ê¸°ë„ í•´ì„œ ë¶€ì •í™•í•œ ê²°ê³¼ê°€ ì¢€ ë‚˜ì˜¨ë“¯ í•˜ë‹¤. ì•¡ì…˜/ì• ë‹ˆë©”ì´ì…˜/ì‹¤í™”ê¸°ë°˜ ë“œë¼ë§ˆ? ê°€ í•œë° ëª¨ì„. ê·¸ëŸ°ë° ì´ëŸ° ì¡ì‹ì„± ì·¨í–¥ë„ ì˜ ë¶„ì„ì„ í•´ì„œ ì¶”ì²œí•´ì¤˜ì•¼ ì§„ì •í•œ ì¶”ì²œ ì‹œìŠ¤í…œì´ ì•„ë‹ê¹Œ?!!!

* ê·¸ë¦¬ê³  í”„ë¡œì íŠ¸ ì „ ì‚¬ì „ ì‹¤ìŠµì—ì„œ spotify ë°ì´í„°ì…‹ì„ ì´ìš©í•´ì„œ ì¶”ì²œí–ˆëŠ”ë°, ë„ˆë¬´ ì¬ë°Œì—ˆë‹¤! spotify ë¥¼ ì“°ê³  ìˆê¸°ë„ í•˜ê³ , 2010ë…„ë„ì—ë„ ì™¸êµ­ë…¸ë˜ë¥¼ ë‚˜ë¦„ í™œë°œí•˜ê²Œ ë“¤ì—ˆë˜ ì‚¬ëŒìœ¼ë¡œì„œ,,, ë°˜ê°€ìš´ ì´ë¦„ë“¤ë„ ë§ì´ ë³´ì˜€ê³  ì¬ë°Œì—ˆë‹¤. ì—­ì‹œ ë‚´ ìƒí™œê³¼ ë°€ì ‘í•œ ê´€ë ¨ì´ ìˆëŠ” ë‚´ìš©ì€ ë” í¥ë¯¸ë¡­ë‹¤.

### ğŸ“š ì°¸ê³ ë¬¸í—Œ

[íŒ¨í‚¤ì§€ ì„¤ì¹˜ ì‹œ PEP ì˜¤ë¥˜ í•´ê²° ë°©ë²•](https://heehehe-ds.tistory.com/entry/Python-%ED%8C%A8%ED%82%A4%EC%A7%80-%EC%84%A4%EC%B9%98-%EC%8B%9C-PEP-%EC%98%A4%EB%A5%98-%ED%95%B4%EA%B2%B0-%EB%B0%A9%EB%B2%95)